body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    padding-left: 17px;
}

a {
    text-decoration: none;
    width: 100%;
    color: inherit;
}

a:hover {
    background-color:     
}

a:visited {
    color: inherit;
}

span {
    color: #808080;
    font-size: 0.9rem;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px 10px 10px 17px;
    margin-bottom: 7px;
}

li p {
    margin-top: 0;
    margin-bottom: 5px;
}

li:hover {
    background-color: #EEE;
}